<!-- Table to Display the List of Products in the inventory-list component -->
 <div class="container">
    <button (click)="addInventory()" class="btn btn-success mb-3">New Product</button>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price (CAD)</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Category</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventory of inventories">
                <td>{{inventory.name}}</td>
                <td>{{inventory.price}}</td>
                <td>{{inventory.quantity}}</td>
                <td>{{inventory.description}}</td>
                <td>{{inventory.categoryId}}</td>
                <td>{{inventory.releaseDate}}</td>
                <td>
                    <button (click)="viewInventory(inventory.inventoryId)" class="btn btn-primary">
                        View
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
 </div>
