<!-- Form to  View, Add and Edit Products in the Inventory Form  -->
<div class="container">
  <form (ngSubmit)="saveInventory()">
    <div class="form-group">
      <label for="name">Produce Name</label>
      <input
        type="text"
        [(ngModel)]="inventory.name"
        name="name"
        id="name"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="price">Price CA$</label>
      <input
        type="number"
        [(ngModel)]="inventory.price"
        name="price"
        id="price"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input
        type="number"
        [(ngModel)]="inventory.quantity"
        name="quantity"
        id="quantity"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        [(ngModel)]="inventory.description"
        name="description"
        id="description"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="date">Released</label>
      <input
        type="date"
        [(ngModel)]="inventory.releaseDate"
        name="date"
        id="date"
        class="form-control"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <button
      type="button"
      (click)="deleteInventory()"
      class="btn btn-danger"
      *ngIf="inventory.inventoryId"
    >
      Delete
    </button>
    <button type="button" (click)="goBack()" class="btn btn-secondary">
      Back
    </button>
  </form>
</div>
